<% if user_signed_in? %>
<div id="sidebar-wrapper" class="hidden-xs hidden-sm">
  <ul class="sidebar-nav">
    <li class="sidebar-brand">
      <h4>Dashboard</h4>
      <a href="menu-toggle" class="hidden-xs hidden-sm menu-toggle">
        <i class="fa fa-bars"></i>
      </a>
    </li>
    <li>
      <a href="#"><i class="fa fa-calendar"></i> Mes plannings </a>
    </li>
    <li>
      <a href="#"><i class="fa fa-users"></i> Mes Employés</a>
    </li>
    <li>
      <%= link_to new_job_path do %>
        <i class="fa fa-list"></i> Postes</a>
      <% end %>
    </li>
    <li>
      <a href="#"><i class="fa fa-file-text-o"></i> Espace administratif</a>
    </li>
  </ul>
</div>
<a href="menu-toggle" class="hidden menu-toggle show">
  <div class="menu-toggle-container">
    <h4><i class="fa fa-caret-left"></i> Retour au Dashboard</h4>
  </div>
</a>
<% end %>
