<div class="banner">
  <div class="banner-content">
    <h1 class="title">Gère vos plannings</h1>
    <p>Libère votre emploi du temps</p>

    <%= link_to "Connexion", new_user_session_path, class: "btn btn-primary btn-lg" %>
  </div>
</div>
