.btn-primary {
  color: #fff;
  font-size: 20px;
  background-color:  #01ff70;
  border-color: #01b751;
  &:focus, &:active, &:hover {
    box-shadow: inset 0 0 0 20rem rgba(0,0,0,.0625);
    outline: none;
    box-shadow: none;
    background-color: #01b751;
    border-color: #01b751;
  }
}
.btn-success {
  color: #fff;
  font-size: 15px;
  background-color: #4FD696;
  border-color: #4FD696;
  &:focus, &:active, &:hover {
    background-color: #29b070;
    border-color: #29b070;
    outline: none;
    box-shadow: none;
  }
}

$btn-medium-color: #ffbf00;

.btn-medium {
  border: 1px solid $btn-medium-color;
  background: $btn-medium-color;
  color: black!important;
  padding: 10px 15px;
  border-radius: 20px;
  font-weight: 100;
  opacity: 0.7;
  text-decoration: none;
  transition: opacity 0.3s ease, letter-spacing 0.3s ease;
  font-family:$brandon-bold;
  font-weight:bold;

  &:hover {
    text-decoration: none;
    background: #ffdd7c;
    opacity: 0.9;
  }

  &:focus {
    color: $btn-medium-color;
    border-color: $btn-medium-color;
    outline: none;
    text-decoration: none;
  }

  &:visited {
    color: $btn-medium-color;
    border-color: $btn-medium-color;
  }
}

